/** filtre */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.filter-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 350px;
}

.filter-container input[type="texte"] {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 50%;
}

@media screen and (max-width: 375px){
    .filter-container {
        width: 290px;;
    }
}

.flatpickr-predefined-ranges .nav-link {
    /* font-family: satoshi-bold; */
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    /* font-family: 'Abel'; */
    font-size: 15px;
}

.flatpickr-predefined-ranges .nav-link:hover {
    /* color: #80cbc4; */
    background-color: #80cbc4;
    /* border-bottom: 2px solid #80cbc4; */
    font-size: 15px;
}

.flatpickr-container {
    display: flex;
    /* Use flexbox to align items */
    align-items: flex-start;
    /* Align items at the top */
    height: 100%;
}

.flatpickr-calendar {
    position: fixed;
    top: 50px !important;
    flex: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 500px;
}

.flatpickr-predefined-ranges {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display :block ; 
    overflow-y: scroll;
    height: 200px;
    margin-top: 50px;
}

.flatpickr-days {
    background-color: #3f4458;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}


.error-append-container{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    bottom: -20px;
    height : 20px;
    width : 70%;
}